<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title> Event Review </title>
</head>
<body>

<main>
    <!-- left side menu -->
    <div th:replace="~{fragments/side_panel :: side_panel_fragment}"></div>

    <!-- rite side content wrapping area -->
    <div class="content_wrapper">

        <div class="content_section">
            <div class="container">

                <div class="theme-bg-transparent p-5 border-rounded-4">
                    <!--heading Area-->
                    <h1 class="text-dark"><i class="fa fa-user-friends font-weight-bold"></i>
                        Event Review Details
                    </h1>

                    <table class="table table-hover table-striped text-dark" id="myTable">
                        <thead>
                        <tr>
                            <th> Event ID</th>
                            <th> Event Title</th>
                            <th> Description</th>
                            <th> Event Type</th>
                            <th> Studio Name</th>
                            <th> Programme Name</th>
                            <th> Start Date Time</th>
                            <th> End Date Time</th>
                            <th> Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="event, rowCount : ${events}">
                            <th th:text="${event.id}"></th>
                            <th th:text="${event.title}"></th>
                            <th th:text="${event.description}"></th>
                            <th th:text="${event.eventtype}"></th>
                            <th th:text="${event.studio.studioName}"></th>
                            <th th:text="${event.programme.programmeName}"></th>
                            <th th:text="${#temporals.format(event.start)}"></th>
                            <th th:text="${#temporals.format(event.finish)}"></th>

                            <th >
                               <a id="employeeRemove" th:href="${'/event/review/decline/' + event.id}"
                                  class="btn btn-danger">
                                   <i class="fa fa-trash"></i>
                               </a>
                                <a id="employeeView" th:href="${'/event/review/accept/' + event.id}"
                                   class="btn  btn-primary"><i class="fa fa-folder-open"></i>
                                </a>


                            </th>
                        </tr>
                        </tbody>
                    </table>

                    <!--Employee List-->

                </div>

            </div>
        </div>

        <!-- footer section -->
        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>
    </div>
    <!-- rite side content wrapping area -->
</main>

<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
