<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title> Page Home </title>
</head>
<body>

<main>
    <!-- left side menu -->
    <div th:replace="~{fragments/side_panel :: side_panel_fragment}"></div>

    <!-- rite side content wrapping area -->
    <div class="content_wrapper">

        <div class="content_section">
            <div class="container">
                <div class="theme-bg-transparent p-5 border-rounded-4">

                    <h1 class="mb-3">
                        <i class="fa fa-building"></i> Programme Detail :
                        <span th:text="${programmeDetail.programmeName}"></span>
                    </h1>

                    <hr>

                    <div class="row" th:fragment="programmeDetailsFragment">
                        <!--Left Side-->
                        <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                            <!--id-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="id">ID :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="id" th:text="${programmeDetail.id}"></p>
                                </div>
                            </div>
                            <!--Code-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="code">Programme Code :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="code" th:text="${programmeDetail.code}"></p></div>
                            </div>
                            <!--Name-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="name">programme Name :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="name"
                                       th:text="${programmeDetail.programmeName}"></p>
                                </div>
                            </div>
                            <!--BRN-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="SponsorName">Sponser Name :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="SponsorName"
                                       th:text="${programmeDetail.sponsorName}"></p>
                                </div>
                            </div>
                            <!--BRN-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="broadcastingDate">Broadcasting Date :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="broadcastingDate"
                                       th:text="${programmeDetail.broadcastingDate}"></p>
                                </div>
                            </div>
                            <!--BRN-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="broadcastingTime">Broadcasting Time :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="broadcastingTime"
                                       th:text="${programmeDetail.broadcastingTime}"></p>
                                </div>
                            </div>
                            <!--Contact One-->
                            <!--   <div class="form-row text-right">
                                   <div class="col-md-4">
                                       <label class="control-label" for="contactOne">Contact No1 :</label>
                                   </div>
                                   <div class="col-md-8">
                                       <p id="contactOne" th:text="${ppuDetail.contactOne}" class="display_detail"></p>
                                   </div>
                               </div>
                               &lt;!&ndash;Contact Two&ndash;&gt;
                               <div class="form-row text-right">
                                   <div class="col-md-4">
                                       <label class="control-label" for="contactTwo">Contact No2 :</label>
                                   </div>
                                   <div class="col-md-8">
                                       <p id="contactTwo" th:text="${ppuDetail.contactTwo}" class="display_detail"></p>
                                   </div>
                               </div>
                           </div>-->
                            <!--Right Side-->
                            <!--<div class="form-group col-md-6 col-sm-6 text-right flex-column">
                                &lt;!&ndash;Email&ndash;&gt;
                                <div class="form-row text-right">
                                    <div class="col-md-4">
                                        <label class="control-label" for="email">location :</label>
                                    </div>
                                    <div class="col-md-8">
                                        <p id="email" th:text="${ppuDetail.location}" class="display_detail"></p>
                                    </div>
                                </div>-->
                            <!--Location-->
                            <!--  <div class="form-row text-right">
                                  <div class="col-md-4">
                                      <label class="control-label" for="location">Address :</label>
                                  </div>
                                  <div class="col-md-8 text-left">
                                      <p id="location" class="display_detail " th:utext="${studioDetail.PPUlocation}"></p>
                                  </div>
                              </div>-->
                            <!--Created By-->

                        </div>
                        <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="createdBy">Created By :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="createdBy" th:text="${programmeDetail.createdBy}"></p>
                                </div>
                            </div>
                            <!--Created at-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="createdAt">Created At :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="createdAt"
                                       th:text="${#temporals.format(programmeDetail.createdAt, 'dd-MM-yyyy HH:mm')}"></p>
                                </div>
                            </div>
                            <!--Updated by-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="updatedBy">Updated By :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="updatedBy"
                                       th:text="${#temporals.format(programmeDetail.updatedAt, 'dd-MM-yyyy HH:mm')}"></p>
                                </div>
                            </div>
                            <!--Updated at-->
                            <div class="form-row text-right">
                                <div class="col-md-4">
                                    <label class="control-label" for="updatedAt">Updated At :</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="display_detail" id="updatedAt"
                                       th:text="${{programmeDetail.updatedAt}}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                        <!--Back Button-->
                        <a href="/programme">
                            <button class="btn btn-dark" type="button" tabindex="10" style="alignment:center">
                                <i class="fa fa-backward " style="font-size: 20px"></i>&nbsp; &nbsp;Back
                            </button>
                        </a>

                    </div>

                </div>
            </div>
        </div>

        <!-- footer section -->
        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>
    </div>
    <!-- rite side content wrapping area -->
</main>

<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>



