<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title> Page Employee </title>
</head>
<body>

<main>
    <!-- left side menu -->
    <div th:replace="~{fragments/side_panel :: side_panel_fragment}"></div>

    <!-- rite side content wrapping area -->
    <div class="content_wrapper">

        <div class="content_section">
            <div class="container">

                <div class="theme-bg-transparent p-5 border-rounded-4">
                    <!--heading Area-->
                    <h1 class="text-dark"><i class="fa fa-user-friends font-weight-bold"></i>
                        Employee Details

                        <a class="btn btn-success" href="/employee/add"
                           th:if="${role == 'Admin' || role == 'Booking Officer' }">
                            <i class="fa fa-plus mr-2"></i> New
                        </a>
                    </h1>

                    <table class="table table-hover table-striped text-dark" id="myTable"
                           th:if="${not #lists.isEmpty(employees)}">
                        <thead>
                        <tr>
                            <th> Index</th>
                            <th> employee Name</th>
                            <th> NIC</th>
                            <th> Email</th>
                            <!--<th> Address</th>-->
                            <th> Modify</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee, rowCount : ${employees}">
                            <th th:text="${rowCount.count}"></th>
                            <th th:text="${employee.name}"></th>
                            <th th:text="${employee.nic}"></th>
                            <th th:text="${employee.email}"></th>
                            <!--<th th:text="${employee.address}"></th>-->
                            <th >
                                <a class="btn  btn-primary btn-sm" id="employeeView" th:href="${'/employee/' + employee.id}"
                                   ><i class="fa fa-folder-open"   style="font-size: 15px"></i>View
                                </a>
                                <a id="employeeEdit" th:href="${'/employee/edit/' + employee.id}"
                                   th:if="${role == 'Admin' || role == 'Booking Officer' }"
                                   class="btn btn-success"><i class="fa fa-edit"   style="font-size: 15px"></i>Edit
                                </a>
                                <a id="employeeRemove" th:href="${'/employee/delete/' + employee.id}"
                                   th:if="${role == 'Admin' || role == 'Booking Officer' }"
                                   class="btn btn-danger">
                                    <i class="fa fa-trash"   style="font-size: 15px"></i>Delete
                                </a>
                            </th>
                        </tr>
                        </tbody>
                    </table>

                    <!--Employee List-->
                    <div class="formBorder text-center">
                        <!--employee List Table-->
                        <div class="col">
                            <div class="col" id="employeesListPresent" th:if="${not #lists.isEmpty(employees)}">

                            </div>
                        </div>
                        <!--Error-->
                        <div class="row" th:if="${ #lists.isEmpty(employees)}">
                            <div class="col-sm-12">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h3 class="text-center text-danger">
                                        <strong>There is no employee upto now please add employee to the system using
                                            add user button.</strong>
                                    </h3>
                                </div>
                            </div>
                            <script>
                                /*active boostrap alert - start*/
                                $(".alert").alert();
                                /*active boostrap alert - end*/
                            </script>
                        </div>
                        <!--TODO-->
                        <!--Save employee show-->
                    </div>
                </div>

            </div>
        </div>

        <!-- footer section -->
        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>
    </div>
    <!-- rite side content wrapping area -->
</main>

<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
